<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel = "stylesheet" href = "css/datetimepicker.css" >
	<link rel = "stylesheet" href = "css/bootstrap.min.css" >
	<link rel = "stylesheet" href = "css/style.css?id=<?php rand(1,1000); ?>" >
    <script src = "https://code.jquery.com/jquery-3.0.0.min.js" ></script>
	<script src = "js/bootstrap.min.js" ></script>
	<script src = "js/moment.js" ></script>
	<script src = "js/datetimepicker.js" ></script>
	<script src = "js/common.js" ></script>
	<div class = "header" >
	    <div class = "btn-group" style = "float: left;">
			<a href = "/screenshots" class = "link" >Fetch Screenshots</a>
			<a href = "/reports" class = "link" >Fetch Reports</a>
		</div>
	<a href = "?page=pages/sign_out" class = "sign-up" >Sign out</a>
	</div>
</head>
<body>
    <div class = "content" >
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
  	@RenderSection("Styles", false)

</body>
</html>
